body {
  background:#333;
  margin:0;
  padding:0;
  font-family:arial;
  text-align: center;
}

#bar > div {
  height: 2em;
  width: 2em;
  border-radius: 1em;
  display:inline-block;
  margin:1em .5em;
  background-color: #ccc;
}

#framecount {
  color:#ccc;
  height:2em;
  font-weight:bold;
  text-align:left;
}
