body {
  background:#333;
  margin:0;
  padding:0;
  font-family:arial;
  text-align: center;
}

#tv  {
  border:2px solid #555;
  background-color: #222;
  box-shadow: .2em .2em 1em #222;
  border-radius: 1em;
  width:32em;
  height:18em;
  margin:2em auto;
}

#controls {
  position: absolute;
  top:50%;
  width:100%;
}

#controls>div {
  padding:.5em;
}

#tabs {
  width:100%;
  position:fixed;
  bottom:0px;
  background-color: #161719;
}

#tabs>div {
  float:left;
  width:45%;
  text-align: center;
  font-size:2.4em;
  font-weight:bold;
  cursor:pointer;
  color:#777;
  background-color:#1D1F21;
  border:.25em solid #161719;
  border-radius: .25em;
}

#tabs>div.tb1 {
  float:right;
}

#tabs>div:hover, #tabs>div.selected{
  background-color:#1e3144;
  color:#999;
}

.content {
  scroll-behavior: smooth;
  height:100%;
  overflow:hidden;

}
label {
  font-size: 2em;
  text-align: left;
  color:#ccc;
}
button {
  border:2px solid #666;
  padding:.4em;
  background-color: #343434;
  border-radius: .5em;
  box-shadow: .2em .2em .2em #222;
  color:#ccc;
  cursor:pointer;
  width:80%;
  margin:.5em;
  padding:.25em;
  font-size:2.4em;
  font-weight:bold;
  min-height:2em;

}



/** fancy conrols **/

input[type=range]{
    -webkit-appearance: none;
    width:100%;
}

input[type=range]::-webkit-slider-runnable-track {
    height: .5em;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: #555;
    margin-top: -8px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

.onoffswitch {
    position: relative; width: 4em;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 20px; padding: 0; line-height: 20px;
    border: 0px solid #FFFFFF; border-radius: 30px;
    background-color: #9E9E9E;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 30px; margin: -5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 31px;
    border-radius: 30px;
    box-shadow: 0 6px 12px 0px #757575;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #42A5F5;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #42A5F5;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px;
    background-color: #2196F3;
    box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
}


/* wheel stuff*/

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: linear-gradient(#111, #222);
  background: -webkit-linear-gradient(#111, #222);
  background: -moz-linear-gradient(#111, #222);
  background: -o-linear-gradient(#111, #222);
}

#conn_err {
  font-size: 2em;
  color: #990000;
  background-color:#330000;
  padding:.2em;
  position:fixed;
  width:100%;
  top:0px;
  border-bottom:.2em solid #220000;
  z-index:999;
}

#overlay {
  width:100%;
  position:fixed;
  z-index:998;
  background-color:#000;
  opacity: .8;
  height:100%;
}

#cw {
  margin: 0 auto;
  position: absolute;
  width:100%;
}

#cw>span {
  cursor: pointer;
  position: absolute;
  top: 12em;
  width: 6em;
  height: 5em;
  border-radius: 50%;
  transform-origin: 20% -50%;
  opacity: 0.2;
}

span:hover, span:active {
  opacity: 1;
/*   border-top-right-radius: 100%; */
/*   border-bottom-right-radius: 100%; */
}
